
<div class="container" >

  <div class="header">
    <ul class="nav nav-pills pull-right">
    </ul>
    <a href="/" class="navbar-brand"></a>
  </div>

  <div class="row" id="welcome" ng-show="show">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
      <h2>Welcome.</h2>
      <h3></h3>
    </div>

    <div class="col-lg-4">
      <div ng-show="!hasuser">
        <a class="btn btn-block btn-social btn-lg btn-github" ng-click="github_login()">
          <i class="fa fa-github"></i>
          Sign in with Github
        </a>
        <div class="or">or</div>
        <!-- <h2 class="center bottomborder">Sign up or sign in with email</h2> -->
        <h2 class="center bottomborder">Sign in with email</h2>
        <form name="form" role="form" style="margin-top:40px;" novalidate>
          <!-- <div ng-class="{'form-group':true,'field':true, 'has-error': signupClicked && form.name.$invalid}">
            <label ng-show="input_name" class="show-hide">Name</label>
            <input type="text" class="form-control" id="username" name="name" placeholder="Name" ng-model="input_name" tab-index="1" autocorrect="off" required>
            <span ng-show="signupClicked && form.name.$error.required" class="error">Name is required</span>
          </div> -->
          <div ng-class="{'form-group':true,'field':true, 'has-error': (signinClicked || signupClicked) && form.email.$invalid}">
            <label ng-show="input_email || form.email.$dirty" class="show-hide">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email" ng-model="input_email" tab-index="2" autocorrect="off" required email>
            <span ng-show="(signinClicked || signupClicked) && form.email.$error.required" class="error">Email is required</span>
            <span ng-show="(signinClicked || signupClicked) && form.email.$error.email" class="error">Email is not valid</span>
          </div>
          <div ng-class="{'form-group':true,'field':true, 'has-error': (signinClicked && form.password.$error.required) || (signupClicked && form.password.$invalid)}">
            <label ng-show="input_password" class="show-hide">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="input_password" tab-index="3" autocorrect="off" required>
            <span ng-show="(signinClicked || signupClicked) && form.password.$error.required" class="error">Password is required</span>
            <span ng-show="signupClicked && form.password.$error.weak" class="error">Password is too weak</span>
          </div>
        </form>
        <table id="loginbtns"><tr>
           <!-- <td class="left"><a ng-class="{action:true, slim:true}" href="#"  ng-click="signup()" tab-index="5">Sign Up</a></td> -->

           <td class="right"><a ng-class="{action:true, slim:true, margin0:true}" href="#"  ng-click="signin()" tab-index="4">Sign In</a></td>
        </tr></table>
        <p>
          <a ng-class="{mvp_hide:hide_forgot}" style="clear:both;float:right;margin-top:10px;" href="/forgot">forgot password?</a>
        </p>
      </div>

      <p style="margin-top:40px;color:red" ng-show="msg">{{ msg }}</p>
    </div>

    <div class="col-lg-2"></div>
  </div>

</div> <!-- /container -->
