
<div ng-include="'partials/navbar'"></div>

<div class="container">

  <div class="navbar searchbar">
    <div class="navbar-header">
      <h4 class="title"><a href="/home">Systems</a> <span class="glyphicon glyphicon-chevron-right"></span> <a href="/system/{{ systemId }}">{{ systemName }}</a> <span class="glyphicon glyphicon-chevron-right"></span> Edit {{ container.name }}</h4>
    </div>
  </div>

  <div class="row" id="main" ng-show="show">

    <div class="col-lg-12">

      <div class="row systems">
        <div class="col-lg-3"></div>

        <div class="col-lg-6">

          <form name="form" role="form" novalidate>
            <div ng-class="{'form-group':true,'field':true, 'has-error': updateClicked && form.name.$invalid}">
                <label>Container Name</label>
                <input  type="text" class="form-control" id="name" name="name" ng-model="container.name" placeholder="Container Name" autofocus autocorrect="off" tabindex="1" required/>
                <span ng-show="updateClicked && form.name.$error.required" class="error">Container name is required</span>
            </div>

            <div ng-class="{'form-group':true,'field':true, 'has-error': updateClicked && form.type.$invalid}">
              <label>Container Type</label>
              <select ui-select2 id="type" name="type" ng-model="container.type" data-placeholder="Container Type" ng-required="true" tabindex="2" required>
                  <option value=""></option>
                  <option value="aws-ami">AMI</option>
                  <option value="aws-sg">Security Group</option>
                  <option value="aws-elb">Load balancer</option>
                  <option value="docker">Docker container</option>
              </select>
              <span ng-show="updateClicked && form.type.$error.required" class="error"><br/>Container type is required</span>
            </div>

            <div ng-show="container.type == 'docker'">
              <div class="field">
                  <label class="show-hide">Repository URL</label>
                  <input  type="text" class="form-control" ng-model="container.specific.repositoryUrl" placeholder="Repository URL" autocorrect="off" tabindex="3"/>
              </div>

              <div class="field">
                  <label class="show-hide">Target Name</label>
                  <input  type="text" class="form-control" ng-model="container.specific.targetName" placeholder="Target Name" autocorrect="off" tabindex="3"/>
              </div>

              <div class="field">
                  <label class="show-hide">Path</label>
                  <input  type="text" class="form-control" ng-model="container.specific.path" placeholder="Path" autocorrect="off" tabindex="4"/>
              </div>

              <div class="field">
                  <label class="show-hide">Build script</label>
                  <input  type="text" class="form-control" ng-model="container.specific.buildScript" placeholder="Build script" autocorrect="off" tabindex="5"/>
              </div>

              <div class="field">
                  <label class="show-hide">Output directory</label>
                  <input  type="text" class="form-control" ng-model="container.specific.outputDir" placeholder="Output directory" autocorrect="off" tabindex="5"/>
              </div>

              <div class="field">
                  <label class="show-hide">Deploy script</label>
                  <input  type="text" class="form-control" ng-model="container.specific.deployScript" placeholder="Deploy script" autocorrect="off" tabindex="5"/>
              </div>

              <div class="field">
                  <label class="show-hide">Arguments</label>
                  <input  type="text" class="form-control" ng-model="container.specific.arguments" placeholder="Arguments" autocorrect="off" tabindex="5"/>
              </div>
            </div>

          </form>

          <hr>

          <div class="row">
            <div class="col-lg-12">
              <a class="action pull-right" ng-click="update()">Update</a>
              <a class="action pull-right" href="/system/{{ systemId }}">Cancel</a>
            </div>
          </div>

          <hr>

          <p ng-show="msg">{{ msg }}</p>

        </div>
      </div>

    </div>

  </div>

</div> <!-- /container -->