
<div ng-include="'partials/navbar'"></div>

<div class="container">

  <div class="navbar searchbar">
    <div class="navbar-header">
      <h4 class="title"><a href="/home">Systems</a> <span class="glyphicon glyphicon-chevron-right"></span> <a href="/system/{{ systemId }}">{{ systemName }}</a></h4>
    </div>
    <div ng-include="'partials/system/actionbar'"></div>
  </div>

  <div class="row container-build" ng-show="show_build" scroll-glue>
    <div class="col-lg-12">
      <h4 class="title">Output:</h4>
      <ul>
        <li ng-repeat="output in buildOutput">
          <span class="{{ output.type }}">{{ output.text }}</span> <i ng-show="show_spinner" class="fa fa-spinner fa-spin"></i>
        </li>
      </ul>
    </div>
  </div>

  <div class="row-fluid" ng-show="show">

    <div class="col-lg-6">
      <div ui-tree="treeOptions">
        <ul ui-tree-nodes="" ng-model="data" id="tree-root">
          <li ng-repeat="container in data" ui-tree-node ng-include="'views/partials/system/nodes_renderer.html'"></li>
        </ul>
      </div>
      <a class="action pull-right" ng-show="canCommit" ng-click="saveChanges()"><span class="glyphicon glyphicon-ok"></span> Commit</a>
    </div>

    <div class="col-lg-6">

      <div class="row revisions">
        <div class="col-lg-12">
          <h4>Revisions</h4>
          <ul>

            <li ng-repeat="revision in revisions" class="revision-row {{ revision.selected ? 'selected' : '' }} {{ revision.deployed ? 'deployed' : '' }}">
              <div class="revision-title">
                <a ng-click="selectRevision(revision)" {!href="/system/{{ systemId }}/revision/{{ revision.revision }}"!}><span>{{ revision.revision }}: {{ revision.description }}</span>
                &nbsp;<span>[{{ revision.guid }}]</span></a>
              </div>
            </li>

          </ul>
          <br>
          <a class="action pull-right" ng-show="true" ng-click="deploy(systemId, selectedRevision.revision)"><span class="glyphicon glyphicon-arrow-up"></span> Deploy</a>
        </div>
      </div>

    </div>

  </div>

</div> <!-- /container -->